  * {
  	margin: 0;
  	padding: 0;
  }


  header {
  	width: 100%;
  	height: 11em;
  	background-color: #141907;
  }
  #logo {
  	margin: 0 auto;
  	width: 20%;
  	height: 5em;
  	text-align: center;
    margin-bottom: 10px;
  }

  header #menu {
  
  	width: 50%;
  	left: 50%;
  	margin: 0 auto;
  	margin-top: 5em;

  }

  header #menu a {
  	text-decoration: none;
  	color: white;
  	padding: 1.2em;
  	text-align: center;
  }


   header #menu a:hover {
  	text-decoration: none;
  	color: #190707;
  	padding: 1.2em;
  	background: white;
  }


		#conteudo {
			color: #777;
			background-color: white;
			text-align: justify;
			padding: 50px 80px;
		}

		h3 {
			text-transform: uppercase;
			color: #111;
			text-align: center;
		}

		.caixa1, .caixa2, .caixa3 {
		 position:relative;
			height: 100%;
			width: 100%;
            opacity: 0.7;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
            background-attachment:fixed;
		}

		.caixa1 {
			background-: url(imagem/elenco-antigo.jpg);
		}

		.caixa2 {
			background-image: url(imagem/corinthians-1953.jpg);
		}

        .caixa3 {
            background-: url(imagem/enois.jpg);
      
        }

        body, html {
			margin: 0;
			font: 16px "Lato", sans-serif;
			color: #777;
			height: 100%;
		}
